$primary: rgb(241, 41, 41);
$primary-light: rgb(126, 43, 43);
$secondary: rgb(190, 190, 190);
$dark: rgb(0, 0, 0);
$dark-light: rgb(31, 31, 31);
$success: rgb(36, 235, 135);
$success-light: rgba(126, 255, 190, 0.39);